<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.alphacalculus.alphacalculus">
    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".TheApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="不学微积分"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="不学微积分">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemActivity"
            android:theme="@style/ItemActivityTheme"></activity>
        <activity android:name=".ChapterListActivity"></activity>
    </application>

</manifest>